In [1]:
#Import modules
import os
import pandas as pd 
import sys
import numpy as np
import math

#Set print options
np.set_printoptions(threshold=sys.maxsize)

In [3]:
path = "Resources/JC-202311-citibike-tripdata.csv"

Bike_2023_11 = pd.read_csv(path)

Bike_2023_11.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711130,-74.078900,40.723659,-74.064194,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750044,-74.035878,40.743140,-74.040041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750100,-74.035852,40.743140,-74.040041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711130,-74.078900,40.731169,-74.057574,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743148,-74.040053,40.737215,-74.028865,member

In [4]:
len(Bike_2023_11)

75646

In [5]:
Bike_2023_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75646 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75646 non-null  object
 1   rideable_type       75646 non-null  object
 2   started_at          75646 non-null  object
 3   ended_at            75646 non-null  object
 4   start_station_name  75637 non-null  object
 5   start_station_id    75637 non-null  object
 6   end_station_name    75407 non-null  object
 7   end_station_id      75407 non-null  object
 8   start_lat           75646 non-null  float64
 9   start_lng           75646 non-null  float64
 10  end_lat             75615 non-null  float64
 11  end_lng             75615 non-null  float64
 12  member_casual       75646 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.5+ MB